h2{ font-size: 30px;
    margin-top: 30px;   
    color: black;

}

.form-group{
margin-bottom: 15px;
}

label{
display: block;
margin-bottom: 15px;
font-weight: bold;
color: black;
}

input[type="text"],
input[type="email"],
input[type="password"] {
width: 42%;
padding: 10px;
border: 3px solid #0400ff;
border-radius: 5px;
font-size: 16px;
}

/*estilo para o botão de envio*/
input[type="submit"] {
background-color: rgb(0, 89, 255);
color: black;
padding: 10px 20px;
border: none;
border-radius: 5px;
cursor: pointer;
font-size: 18px;
transition: background-color 0.3s;
}